<body>
  <div class="container">
    <div class="Products" *ngFor="let item of Data">
      <img [src]="item.imagesrc" width="150" height="150">
      <h2>{{item.name}}</h2>
      <p>{{item.textinfo}}</p>
    </div>
  </div>
  <div class="main">
    <h1>Main Product</h1>
    <p>fgbfhbdshvgbsdhgbvhisbvggsjbgv fsjbvijbsjvhbsjiibusjob vsjovbjsdbvjubsjdvb sjkbvjkhvgbdbvsb bibgfvibshgvbsbgsb gvbshbgsibgisbgibibreib bibgfibeigbbeghbiebgu fbiewbigfbhbhgrgbib giewbiugibigbibeigbuib gbvrbgi gbwubg gbriugbiu bgbwgebbeibgiubu bewbiewbuiwbu bwfbuewbfufe</p>
  </div>
</body>